@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --submit-buttom-and-link-color: #2C6D97;
    --link-color: #2C6D97;
    --link-color-hover: #2f7fb4;
    --submit-buttom-text-color: #FFFFFF;
    --background-color: #DFE0E2;
    --primary-text-color: #000000;
    --primary-text-color: #000000;
    --secondary-text-color: #262626;
    --avaliacap-estrela: #e1be0d; 
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

body a {
    text-decoration: none;
}

body p {
    margin: 0;
}

.container-fluid {
    height: 100vh;
    padding: 0 !important;
}

.col-form {
    width: 626px;
}

.col-banner {
    width: 814px;
}

.col-form, .col-banner {
    padding: 0 !important;
}

/* Estilização do header-login-register ABAIXO  */
.container--header-login-register {
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.container--header-login-register .saiba-mais, 
.container--header-login-register .logo {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.container--header-login-register .logo img {
    margin-left: 40px;
}

.container--header-login-register .saiba-mais {
    justify-content: flex-end;
}

.container--header-login-register .saiba-mais a {
    margin-right: 40px;
    font-size: 18px;
    font-weight: bold;
    color: var(--link-color);
    transition: .3s;
}

.container--header-login-register .saiba-mais a:hover {
    color: var(--link-color-hover);
    transition: .3s;
}
/* Estilização do header-login-register ACIMA  */


/* Estilização do banner-login-register ABAIXO  */
.banner--header-login-register {
    width: 100%;
    height: 100vh; /* Ajuste a altura conforme necessário */
    background-image: url('../img/banner-login-register.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.dark-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title-subtitle {
    width: 582px;
    height: 215px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-left: 71px;
    margin-bottom: 28px;
}

.title-subtitle h1, 
.title-subtitle h3 {
    color: var(--submit-buttom-text-color);
    margin: 0;
}

.title-subtitle h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px; /* tamanho da font + 9px */
}

.title-subtitle h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px; /* tamanho da font + 11px */
}

.avaliacao {
    display: flex;
    gap: 8px;
}

.avaliacao p {
    font-size: 18px;
    font-weight: 500;
    color: var(--submit-buttom-text-color);
}

.avaliacao .grupo-estrelas {
    display: flex;
    margin-left: 71px;
    gap: 7px;
}

.avaliacao i {
    color: var(--avaliacap-estrela);
    font-size: 20px;
}

.numero-comentarios {
    margin: 6px 0 0 71px;
}

.numero-comentarios p {
    font-size: 18px;
    font-weight: 500;
    color: var(--submit-buttom-text-color);
}

.btn-carrossel {
    display: flex;
    justify-content: flex-end;
    margin: 10px 51px 78px 0;
    gap: 16px;
}
/* Estilização do banner-login-register acima  */

/* Configuração responsividade ABAIXO */
/* Estilos para telas grandes */
@media (min-width: 1440px) {
    /* para a imagem crescer acima de 1440px e acompanhando .col-banner */
    .col-banner { 
        flex: 1;
    }
}

/* Estilos para telas médias */
@media (min-width: 768px) and (max-width: 1439px) {
    /* Seus estilos para telas médias aqui */
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .col-banner {
        display: none;
    }

    .col-form {
        flex: 1;
    }
}

/* Configuração responsividade ACIMA */